@font-face {
  font-family: main;
  src: url("./assets/fonts/dum1.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.viewport {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px #f9f9f9 outset;
  border-radius: 5px;
  overflow: hidden;
}

.camera {
  position: absolute;
  top: 0;
  left: 0;
  scale: 3;
  transform-origin: 0 0;
  transition: transform 0.1s linear;
}

.flash {
  background-color: #ffffff;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: relative;
  transition: opacity 0.3s linear;
}

.flash.pui-removing {
  opacity: 0;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  transition: transform 0.1s linear;
  /* border: 1px solid red; */
}

.npc {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  transition: transform 0.1s linear;
  /*  border: 1px solid green; */
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  background-image: url("./assets/images/shadow.png");
  z-index: 2;
}
.emote {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 16px;
  height: 16px;
  image-rendering: pixelated;
  z-index: 6;
}

.collisionbox {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid fuchsia;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  background-size: cover;
}

.mapTransition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s linear;
}

.mapTransition.pui-removing {
  opacity: 1;
}

.mapTransition.pui-removing {
  opacity: 0;
}

.wall {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid yellow;
}

.trigger {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid purple;
}

.gamestate {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.gamestate.pui-adding {
  opacity: 0;
}
.gamestate.pui-removing {
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dialog_box {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  border: 3px solid #dddddd;
  border-radius: 5px;
  background-color: rgb(123, 94, 92);
}
.left_avatar {
  margin: 10px;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
}
.right_avatar {
  float: right;
  margin: 10px;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
}

.dialog {
  margin: 20px;
  font-family: main;
  color: #dddddd;
  font-size: xx-large;
}

.dialog_right {
  position: absolute;
  left: 22%;
  top: 0;
  margin: 10px;
  font-family: main;
  color: #dddddd;
  font-size: xx-large;
}

.dialog_left {
  position: absolute;
  right: 22%;
  top: 0;
  margin: 10px;
  font-family: main;
  color: #dddddd;
  font-size: xx-large;
}

.choices {
}
.choice {
  font-size: x-large;
  cursor: pointer;
  background-color: rgb(98, 80, 79);
  margin: 2px;
}
.choice:hover {
  color: blue;
}
.dialog_next {
  position: absolute;
  padding: 3px;
  bottom: 30px;
  right: 20px;
  z-index: 2;
  border: 1px solid #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  border-radius: 2px;
  cursor: pointer;
}
.dialog_done {
  position: absolute;
  padding: 3px;
  bottom: 30px;
  right: 20px;
  z-index: 2;
  border: 1px solid #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  border-radius: 2px;
  cursor: pointer;
}
